.burgers
    max-width: 725px
    margin: 72px auto
    +clr
    +r(640)
        margin: 15px auto
    
.price
    width: 22%
    float: left
    margin-right: 17%
    &:nth-child(3n+3)
        margin-right: 0
        right: 0
        +r(640)
            margin: 0 auto
    &__img
        max-width: 100%
        height: 155px
        position: relative
        img 
            width: 100%
            position: relative
        +r(620)
            margin: 30px auto
            height: 180px
    &__title
        display: block
        font-size: 22.63px
        font-family: "Rubik"
        color: #f39c22
        line-height: 1.2
        text-align: center
        margin: 7% 0
    &__text
        display: block
        font-size: 12.18px
        font-family: "Martel"
        color: #0b1d2c
        line-height: 1.286
        text-align: center
        margin: 7% auto
    &__button
        height: 30px
        width: 100%
        background-color: #e1e1e1
    &__backs, &__kj
        margin: 0 5px
    &__backs
        font-size: 20px
        font-family: "Rubik"
        color: #0b1d2c
        line-height: 0.783
        text-align: center
    &__kj
        font-size: 12.18px
        font-family: "Martel"
        color: #485058
        line-height: 1.286
        text-align: center
    +r(640)
        float: none
        margin: 0 auto
        width: 75%

.oval 
	width: 180px
	height: 90px
	position: absolute
	-moz-border-radius: 50%
	-webkit-border-radius: 50%
	border-radius: 50%
	border: 3px solid #f39c22
	top: 0
	&__-75
		transform: rotate(-75deg)
	&__15
		transform: rotate(-45deg)
	&__30
		transform: rotate(45deg)
	+r(640)
        top: 7%
        left: 25%