---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <div>
        <input type="checkbox" id="menu">
        <label for="menu" onclick></label>

        <div class="header">

            <a href="#" class="logo">
                <span class="logo__part1">BURGERS</span><span class="logo__part2">.CO</span>
            </a>
            
            <nav class="nav" role="off-canvas">
                <ul>
                    <li><a href="#" class="nav__link">Home</a></li>
                    <li><a href="#" class="nav__link">Our burgers</a></li>
                    <li><a href="#" class="nav__link">What Else ?</a></li>
                    <li><a href="#" class="nav__link">Photos</a></li>
                    <li><a href="#" class="nav__link">Contact</a></li>
                </ul>
            </nav>

        </div>

        <div class="content">
            <!-- begin hero -->
            <div class="hero">
                <div class="hero__part1" style="background-image: url(img/food.jpg">
                    <div class="hero__back1">
                        <div class="hero__wrap1">
                            <h1 class="hero__title1">Hero title 1</h1>
                            <p class="hero__text1">Lorem ipsum dolor sit, amet consectetur</p>
                        </div>
                    </div>
                </div>
                <div class="hero__part2" style="background-image: url(img/bread.jpg">
                    <div class="hero__back2">
                        <div class="hero__wrap2">
                            <h1 class="hero__title2">Hero title 2</h1>
                            <p class="hero__text2">Lorem ipsum dolor sit, amet consectetur</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end hero -->
        </div>

    </div>

{% endblock %}
